/* PC */
@media (min-width : 1024px) {
    
}

/* Tablet */
@media (min-width : 740px) and (max-width: 1023px) {
    .text-logo{
        font-size: 15px;
        line-height: 16px;
    }
    .logo-icon{
        height: 16px;
        display: flex;
    }
    .col-3{
        width: 50%;
    }
    .content-trang-chu{
        height: 60vh;
    }
    .content-2{
        margin: 32px 0px;
    }
    .img-dki{
        width: 36vw;
    }
}

/* Mobile */

@media (max-width : 740px) {
    .col-3{
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-heading {
        margin-bottom: 8px;
    }

    .container {
           padding: 8px 8px 0 8px ;
    }
    .logo{
        padding: 0px;
    }

    .logo-icon {
        height: 16px;
    }

    .text-logo {
        font-size: 16px;
    }

    .language-btn {
         padding: 0px; 
    }

    header {
        height: 44px;
    }

    #search-box:hover .search-text{
        width: 0px;
        padding-left: 0px;
        transition: unset;
    }

    .search-btn{
        padding: 0px 4px;
    }

    .language-btn { 
        padding: 5px 17px !important;
        font-size: 12px;
    }

    .sub-lan-btn{
        font-size: 12px;
    }

    .sub-lan {
        padding: 5px 16px;
    }

    .text-content-2 {
        margin: 16px 0px;
    }
    .text-content-2 .dki-btn{
        margin-left: 45px;
    }
    .img-dki{
        width: 90vw;
    }
    
    
    h3, h4{
        font-size: 18px;
    }
    p{
        font-size: 13px;
        line-height: 18px;
    }
    .form .col-6{
        font-size: 14px;
        line-height: 16px;
    }
    h6{
        font-size: 16px;
        line-height: 26px;
    }
    .dki-btn{
        padding: 10px 20px;
        font-size: 15px;
    }
    .add-btn{
        padding: 8px 18px;
    }
    .col-6{
        width: 100%;
    }
    .col-4{
        width: 100%;
    }

     h5 {
        font-size: 1rem;
    }

     h2 {
        margin-top: 4rem;
    }
  
}