/* PC */
@media (min-width : 1024px) {
    
}

/* Tablet */
@media (min-width : 740px) and (max-width: 1023px) {
    
}

/* Mobile */

@media (max-width : 740px) {
    h3, h4{
        font-size: 18px;
    }
    p{
        font-size: 13px;
        line-height: 18px;
    }
    li{
        font-size: 14px;
        line-height: 16px;
    }
    h6{
        font-size: 16px;
        line-height: 26px;
    }
    .dki-btn{
        padding: 10px 20px;
        font-size: 15px;
    }
    .add-btn{
        padding: 8px 18px;
    }
    .col-6{
        width: 100%;
    }
    .col-4{
        width: 100%;
    }
  
}