*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    width: 100%;
    background-color: black;
}
.logo{
    display: flex;
    list-style-type: none;
}
.RHeader{
    display: flex;
    list-style-type: none;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.text-logo{
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-size: 23px;
    line-height: 26px;
}
li.laguage{
    display: flex;
    
}
.language-btn{
    text-decoration: none;
    color: white;
    border: 1px solid #ccc;
    padding: 5px 20px;
    position: relative;
}
.sub-lan{
  
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: black;
    margin-top: 10px;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
}
.language-btn:hover{
    color: black;
    background-color: white;
}
.language:hover .sub-lan{
    display: block;
}
.col-1{
    padding: 0;
}

/* content */
.heading-content{
    margin-top: 16px;
    display: flex;
}
.return-btn{
    margin-right: 5px;
}
.heading-imformation{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.btn{
    text-decoration: none;
    padding: 5px 10px;
}
.btn:hover{
    background-color: #0A58CA!important;
    color: white;
}
ul.form{
    list-style-type: none;
    padding: 0 0 10;
}

.content-2{
    background: #F8F9FF;
    width: 100%;
}

/* footer */
.container-footer{
    padding: 20px 0px;
}
footer{
    width: 100%;
    background-color: #ccc;
    height: auto;
}
.footer-logo{
    display: flex;
}
.text-logo-footer{
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
    font-size: 30px;
}
.footer-item{
    list-style-type: none;
}
.footer-heading{
    font-size: 25px;
    font-weight: 600%;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-item-link{
    text-decoration: none;
    color: #333;
}

.footer-list{
    padding-left: 0;
}