*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    width: 100%;
    background-color: black;
}
.logo{
    display: flex;
    list-style-type: none;
}
.logo-icon{
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}
.RHeader{
    display: flex;
    list-style-type: none;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.text-logo{
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-size: 23px;
    line-height: 26px;
}
#search-box{
    display: flex;
    background-color: #fff;
    border-radius: 30px;
}
.search-text{
    border: none;
    outline: none;
    background: none;
    width: 0px;
}
.search-btn{
    padding: 3px 7px;
    background: #fff;
    border: none;
    border-radius: 50%;
}
#search-box:hover .search-text{
    width: 200px;
    padding-left: 10px;
    transition: all 0.25s ease-in-out;
}
li.laguage{
    display: flex; 
}
.language-btn{
    text-decoration: none;
    color: white;
    border: 1px solid #ccc;
    padding: 5px 20px;
    background-color: black;
    position: relative;
}
.sub-lan{
    list-style-type: none;
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 10px;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
}
.sub-lan-btn{
    color: white;
    text-decoration: none;
   
}

.sub-lan-hiden{
    display: none;
}
/* .language-btn:hover{
    color: black;
    background-color: white;
}
.language:hover .sub-lan{
    display: block;
} */
.col-1{
    padding: 0;
}

/* content */
.row{
    margin: 0;
}
.heading-content{
    display: flex;
    justify-content: flex-start;
}
.col-10{
    margin: 46px 0px;
}
.return-btn{
    margin-right: 5px;
}
.heading-imformation{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.btn{
    text-decoration: none;
    padding: 5px 10px;
}
p{
    color: #7C97B7;
    font-style: italic;
    font-size: 16px;
}
.dki-btn:hover,
.btn:hover{
    background-color: #0A58CA!important;
    color: white;
}
ul.form{
    list-style-type: none;
    padding: 0;
    margin: 16px 0px;
}
ul.form > li{
    margin: 8px 0px;
}


.content-2{
    background: #F8F9FF;

}
.form-dki-phone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trash-btn{
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 7px;
    margin-right: 5px;
}
.trash-btn:hover{
    color: #ccc;
}
.can-bo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.add-btn{
    float: right;
}
.time{
    display: inline-block;
}
.dis-dki-btn{
    display: flex;
    justify-content: center;
    
}
.dki-btn .add-btn{
    float: right;
}
.dki-btn{
    border: 2px solid #143087;
    color: #143087;
    margin-top: 20px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 15px;
    margin: 0px 5px;
}
/* footer */
.container-footer{
    padding: 20px 0px;
}
footer{
    width: 100%;
    background-color: #ccc;
    height: auto;
}
.footer-logo{
    display: flex;
}
.text-logo-footer{
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
    font-size: 30px;
}
.footer-item{
    list-style-type: none;
}
.footer-heading{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-item-link{
    text-decoration: none;
    color: #333;
}

.footer-list{
    padding-left: 0;
}



